.txt-data {
    text-transform: uppercase;
    color: grey;
}

.txt-destaque {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.txt-destaque-car {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 2px;
}

.txt-noticia-car-sm {
    font-weight: lighter;
    margin-left: 2px;
}

.txt-secao-titulo {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.txt-podcast {
    color: red;
    font-weight: bold;
}

#maislidas-numeros {
    color: darkcyan;
    font-weight: bold;
}

.aside-imgs {
    width: 120px;
    height: 100px;
}

.noticias-img {
    max-height: fit-content;
}

.txt-footer {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 105%;
}

.menu-style {
    background-color: red;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
}

.noticias-leiamais-img {
    height: 100px;
    width: 100px;
    max-height: fit-content;
}

.fundo-claro-noticias{
    background-color: #F0F0F0;
    padding: 20px;    
}