.txt-data {
    text-transform: uppercase;
    color: grey;
}

.txt-destaque {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 6px;
}

.txt-destaque-car {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 2px;
}
#txt-destaque-azul {
    color: #004C94;
    font-weight: bold;
    text-transform: uppercase;
}
#txt-variedades-noticia{
    font-size: 120%;
}

.txt-noticia-car-sm {
    font-weight: 400;
    margin-left: 2px;
}

.txt-secao-titulo {
    text-transform: uppercase;
    font-weight: bold;
    color: WHITE;
    background-color: red;
    padding-left: 8px;    
    padding-right: 8px;
}

.txt-podcast {
    color: red;
    font-weight: bold;
}

#maislidas-numeros {
    color: darkcyan;
    font-weight: bold;
}

.aside-imgs {
    width: 120px;
    height: 100px;
}

.noticias-img {
    max-height: fit-content;
}

#artigos-img{
    height: 60px;
}


.txt-footer {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 105%;
}

.menu-style {
    background-color: red;
    text-transform: uppercase;
    color: whitesmoke;
}

.noticias-leiamais-img {
    height: 100px;
    width: 100px;
    max-height: fit-content;
}
#noticias-leiamais-img-col4{
    width: 100%;
    padding-bottom: 4px;
}

#entrevista-titulos{
    font-weight: 400;
}
#policia-titulos{
    font-weight: 500;
    font-size: 93%;
}
#cidades-titulos{
    font-size: 120%;
}

.fundo-claro-noticias{
    background-color: #F0F0F0;
    padding: 20px;    
}

/*Teste - Carrosssel principal legenda fundo gradient
#car-principal-txt-bg{
    background: linear-gradient(to bottom, rgba(0,0,0,0.13)0%, rgba(0,0,0,0.13)11%, rgba(0,0,0,0.67)63%,rgba(0,0,0,0.67)100% );
}*/